<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang=${#locale.language}>

<head>
</head>

<body id="page-top">

	<section id="listarUsuario" th:fragment="listarUsuario">	
	
			<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr>										
										<th>Nome</th>
										<th>CPF</th>
										<th>Parentesco</th>
										<th>Nivel</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Nome</th>
										<th>CPF</th>
										<th>Parentesco</th>
										<th>Nivel</th>
										<th>Ações</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="usuario : ${listaDeUsuarios}">											
											<td th:text="${usuario.nome}"></td>
											<td th:text="${usuario.cpf}"></td>
											<td th:text="${usuario.parentesco}"></td>
											<td th:text="${usuario.nivelUsuario.descricaoNivelUsuario}"></td>
											<td>
												<div class="form-group row">												
													<div class="col-sm-4 mb-4 mb-sm-0">
														<a class="btn btn-light btn-outline-dark btn-sm ajax" role="button" th:href="@{usuario/updateView/{cpf}(cpf=${usuario.cpf})}" title="Editar">
															<i class="fas fa-edit"></i>
														</a>
													</div>
													<div class="col-sm-4 mb-4 mb-sm-0">
														<a class="btn btn-light btn-outline-dark btn-sm" role="button" th:href="@{usuario/delete/{cpf}(cpf=${usuario.cpf})}" title="Excluir">
															<i class="fas fa-trash-alt"></i>
														</a>
													</div>													
													<div class="col-sm-4 mb-4 mb-sm-0">
														<a class="btn btn-light btn-outline-dark btn-sm ajax" role="button" th:href="@{usuario/emprestimos/{cpf}(cpf=${usuario.cpf})}" title="Emprestimos">
															<i class="fas fa-list-ul"></i>
														</a>
													</div>
												</div>
											</td>
										</tr>
								</tbody>
								</table>
							</div>
						</div>
					</div>		
					
	</section>
	
	<script src="js/jabuti.js" type="text/javascript"></script>
	<script src="js/jquery.mask.js" type="text/javascript"></script>
	<script src="js/jquery.mask.min.js" type="text/javascript"></script>
	
	<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin-2.min.js"></script>
		<!-- Page level plugins -->
		<script src="vendor/chart.js/Chart.min.js"></script>
		<!-- Page level custom scripts -->
		<script src="js/demo/chart-area-demo.js"></script>
		<script src="js/demo/chart-pie-demo.js"></script>
		<!-- Page level plugins -->
		<script src="vendor/datatables/jquery.dataTables.min.js"></script>
		<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
		<!-- Page level custom scripts -->
		<script src="js/demo/datatables-demo.js"></script>

</body>

</html>
